/*Configurações gerais da página*/
body {
    background-color: #0b0f1a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

/*O container principal que segura tudo*/
.container {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

/* A imagem do personagem */
.personagem {
    width: 300px;
    margin-bottom: -40px;
}

/*O título principal*/
h1 {
    color: #f7b731;
    font-size: 2.5rem;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/*O texto de pergunta*/
p {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 40px;
}

/*Estilo molde para os botões*/
button {
    margin-top: -150px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*Estilo específico para o botão não*/
#botão-não {
    background-color: #e63420;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 48%;
    transform: translate(-50%)
}

/*Estilo específico para o botão sim*/
#botão-sim {
    background-color: #3498db;
    box-shadow: 0 0 15 #3498db, 0 0 30px #3498db;
}

/*Efeito ao passar o mouse pelo botão sim */
#botão-sim:hover {
    background-color: #4aa8eb;
    box-shadow: 0 0 20px #4aa8eb, 0 0 40px #4aa8eb;
}